<%= form_for(@story_component) do |f| %>
  <% if @story_component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story_component.errors.count, "error") %> prohibited this story_component from being saved:</h2>

      <ul>
      <% @story_component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author_id %><br>
    <%= f.number_field :author_id %>
  </div>
  <div class="field">
    <%= f.label :component_type %><br>
    <%= f.text_field :component_type %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
