<h1>Listing story_components</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Component type</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @story_components.each do |story_component| %>
      <tr>
        <td><%= story_component.author_id %></td>
        <td><%= story_component.component_type %></td>
        <td><%= story_component.body %></td>
        <td><%= link_to 'Show', story_component %></td>
        <td><%= link_to 'Edit', edit_story_component_path(story_component) %></td>
        <td><%= link_to 'Destroy', story_component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story component', new_story_component_path %>
