<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @story_component.author_id %>
</p>

<p>
  <strong>Component type:</strong>
  <%= @story_component.component_type %>
</p>

<p>
  <strong>Body:</strong>
  <%= @story_component.body %>
</p>

<%= link_to 'Edit', edit_story_component_path(@story_component) %> |
<%= link_to 'Back', story_components_path %>
